SpeechRecognition
pyttsx3
openai
keyboard
pycaw
os
shutil
tkinter
geopy
folium
googlemaps
psutil
requests
pygetwindow
opencv-python
face_recognition
mediapipe
dlib
python-docx
selenium
transformers
torch
pyserial
arduino-python
twilio
chatterbot
beautifulsoup4
mechanize
schedule
